:root {
    transition: --color-bg 0.5s ease,
        --color-surface 0.5s ease,
        --color-primary 0.5s ease,
        --color-secondary 0.5s ease,
        --color-border 0.5s ease;
}

@property --color-bg {
    syntax: '<color>';
    inherits: true;
    initial-value: #000000;
}

@property --color-surface {
    syntax: '<color>';
    inherits: true;
    initial-value: #000000;
}

@property --color-primary {
    syntax: '<color>';
    inherits: true;
    initial-value: #000000;
}

@property --color-secondary {
    syntax: '<color>';
    inherits: true;
    initial-value: #000000;
}

@property --color-border {
    syntax: '<color>';
    inherits: true;
    initial-value: #000000;
}

:root[data-theme="Inferno"] {
    --color-bg: #2a2b28;
    --color-surface: #404040;
    --color-primary: #f44430;
    --color-secondary: #f98354;
    --color-border: #685d5c;
}

:root[data-theme="Tokyo"] {
    --color-bg: #142a30;
    --color-primary: #6f26c1;
    --color-secondary: #0bc6ba;
    --color-surface: #1c343a;
    --color-border: #304a51;
}

:root[data-theme="Rose"] {
    --color-bg: #281e27;
    --color-primary: #fc41e3;
    --color-secondary: #c93861;
    --color-surface: #382736;
    --color-border: #775775;
}
