.footer {
    display: flex;
    justify-content: right;
    gap: var(--space-4);
    padding: var(--space-2);
    padding-right: var(--space-3);
    border-top: 1px solid var(--color-border);
}

.footer__links {
    display: flex;
    gap: var(--space-3);
    margin-top: var(--space-2);
}

.footer__links a {
    color: var(--color-text-muted)
}

.footer__links a :hover {
    color: var(--color-text)
}
